{% extends "core/base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="card" style="max-width: 500px; margin: 40px auto;">
    <h3>Register</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn w-full" style="justify-content:center;">Register</button>
        <p class="mt-10" style="text-align:center; font-size:0.9rem;">Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </form>
</div>
{% endblock %}
